<div class="table-responsive">
  <h1><%= t 'lines.index.title' %></h1>
  <%= link_to new_line_path, class: "btn btn-primary btn-lg active pull-right", role: "button" do %>
  <span class="glyphicon glyphicon-plus"></span>
  <%= t 'lines.new.title' %>
  <% end %>

  <table id="lines_lists" class="table-responsive table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th><%= t 'app.actions' %></th>
        <th><%= t 'services.name' %></th>
        <th><%= t 'services.code' %></th>
        <th><%= t 'services.description' %></th>
        <th><%= t 'services.barber_shops' %></th>
        <th><%= t 'services.enable' %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @lines) do |line| %>
      <td style="width: 150px; display: block">
        <%= link_to '', line, :class => 'btn btn-primary  btn-sm glyphicon glyphicon-eye-open' %></span>
        <%= link_to '', edit_line_path(line), :class => 'btn btn-info  btn-sm glyphicon glyphicon-pencil' %></span>
        <%= link_to ' ', line, method: :delete, data: { confirm: t('app.messages_confirmation_delete') }, :class => 'small btn  btn-danger btn-sm glyphicon glyphicon-trash' %></span>
      </td>
      <td><%= line.name %></td>
      <td><%= line.code %></td>
      <td><%= line.description %></td>
      <td><%= line.barber_shop.name %></td>
      <td><%= case line.enable
      when true
        "SI"
      when false
        "NO"
      end %>
    </td>
    <% end %>
  </tbody>
</table>
</div>
