<div class="table-responsive">

    <h1><%= t 'services.index.title' %></h1>
    <%= link_to new_service_path, class: "btn btn-primary btn-lg active pull-right", role: "button" do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t 'services.new.title' %>
    <% end %>

    <table id="services_lists" class="table-responsive table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th><%= t 'app.actions' %></th>
        <th><%= t 'services.name' %></th>
        <th><%= t 'services.code' %></th>
        <th><%= t 'services.price' %></th>
        <th><%= t 'services.description' %></th>
        <th><%= t 'services.enable' %></th>
        <th><%= t 'services.barber_shops' %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @services) do |service| %>
      <td style="width: 150px; display: block">
        <%= link_to '', service, :class => 'btn btn-primary  btn-sm glyphicon glyphicon-eye-open' %></span>
        <%= link_to '', edit_service_path(service), :class => 'btn btn-info  btn-sm glyphicon glyphicon-pencil' %></span>
        <%= link_to ' ', service, method: :delete, data: { confirm: t('app.messages_confirmation_delete') }, :class => 'small btn  btn-danger btn-sm glyphicon glyphicon-trash' %></span>
      </td>
      <td><%= service.name %></td>
      <td><%= service.code %></td>
      <td><%= service.price %></td>
      <td><%= service.description %></td>
      <td>
        <%= case service.enable
          when true
            "SI"
          when false
            "NO"
          end %>
      </td>
      <td><%= service.barber_shop.name %></td>
      <% end %>
    </tbody>
  </table>
</div>
