<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @barber_shop.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @barber_shop.name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @barber_shop.business_name %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @barber_shop.nit %>
</p>

<p>
  <strong>Address:</strong>
  <%= @barber_shop.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @barber_shop.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @barber_shop.phone %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @barber_shop.owner %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @barber_shop.contact_name %>
</p>

<p>
  <strong>Contact phone1:</strong>
  <%= @barber_shop.contact_phone1 %>
</p>

<p>
  <strong>Contact phone2:</strong>
  <%= @barber_shop.contact_phone2 %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @barber_shop.contact_email %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @barber_shop.enable %>
</p>

<%= link_to 'Edit', edit_barber_shop_path(@barber_shop) %> |
<%= link_to 'Back', barber_shops_path %>
