<p id="notice"><%= notice %></p>

<div class="page-header">

  <%= link_to barber_shops_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  <%= t('app.back') %>
  <% end %>

  <%= link_to edit_barber_shop_path(@barber_shop), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  <%= t('app.edit') %>
  <% end %>

  <h1><%= t('barber_shops.show.title') %></h1>
</div>

<p>
  <strong><%= t 'barber_shops.code' %>:</strong>
  <%= @barber_shop.code %>
</p>

<p>
  <strong><%= t 'barber_shops.name' %>:</strong>
  <%= @barber_shop.name %>
</p>

<p>
  <strong><%= t 'barber_shops.business_name' %>:</strong>
  <%= @barber_shop.business_name %>
</p>

<p>
  <strong><%= t 'barber_shops.nit' %>:</strong>
  <%= @barber_shop.nit %>
</p>

<p>
  <strong><%= t 'barber_shops.address' %>:</strong>
  <%= @barber_shop.address %>
</p>

<p>
  <strong><%= t 'barber_shops.city' %>:</strong>
  <%= @barber_shop.city %>
</p>

<p>
  <strong><%= t 'barber_shops.phone' %>:</strong>
  <%= @barber_shop.phone %>
</p>

<p>
  <strong><%= t 'barber_shops.owner' %>:</strong>
  <%= @barber_shop.owner %>
</p>

<p>
  <strong><%= t 'barber_shops.contact_name' %>:</strong>
  <%= @barber_shop.contact_name %>
</p>

<p>
  <strong><%= t 'barber_shops.contact_phone1' %>:</strong>
  <%= @barber_shop.contact_phone1 %>
</p>

<p>
  <strong><%= t 'barber_shops.contact_phone2' %>:</strong>
  <%= @barber_shop.contact_phone2 %>
</p>

<p>
  <strong><%= t 'barber_shops.contact_email' %>:</strong>
  <%= @barber_shop.contact_email %>
</p>

<p>
  <strong><%= t 'barber_shops.enable' %>:</strong>
  <%= @barber_shop.enable %>
</p>
