<div class="page-header">
  <%= link_to new_subline_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Subline
  <% end %>
  <h1>Listing sublines</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
            <th>Line</th>
            <th>Enable</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sublines) do |subline| %>
            <td><%= subline.name %></td>
            <td><%= subline.code %></td>
            <td><%= subline.description %></td>
            <td><%= subline.line %></td>
            <td><%= subline.enable %></td>
            <td><%= link_to 'Show', subline %></td>
        <td><%= link_to 'Edit', edit_subline_path(subline) %></td>
        <td><%= link_to 'Destroy', subline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
